<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Café Eickmann</title>
</head>
<body>

    <div>
        <h1>Café Eickmann</h1>
    </div>

    <div>
        <h3>Bolos e Cupcakes</h3>
    </div>

    <div>
        <h2>1</h2>
        <img src="https://scontent-gru2-2.xx.fbcdn.net/v/t1.0-9/18301954_1807918149536527_5852143849400512014_n.jpg?oh=14f8101d607f6a90ea8eeb143372a053&oe=59D967E7" alt="três potes de lemon curd de limão siciliano" width="500">
       <p>O <strong>Lemon Curd</strong> é um creme de limão muito popular na Inglaterra.
        Ele é aveludado e pode ser usado em bolos, tortas, macaroons, biscoitos e em tudo mais que você quiser.</p>
     </div>

    <div>
        <h2>2</h2>
        <img src="https://scontent-gru2-2.xx.fbcdn.net/v/t1.0-9/18446949_1810347842626891_3371403372127093454_n.jpg?oh=4da9b7be1a5e5b5f0842c98a1cc5db15&oe=599BC32D" alt="cupcake de red velvet com cobertura de chantininho" width="500">
        <p>O <strong>Red Velvet</strong> é um bolo super famoso nos EUA. Ele combina os sabores do chocolate, da baunilha e do buttermilk, além de ter uma cor maravilhosa!
   </div>

    <div>
        <h3>Sabores</h3>
        <ul>
            <li>Baunilha com Lemon Curd</li>
            <li>Red Velvet com Chantininho</li>
            <li>Cenoura com Ganache de Chocolate</li>
            <li>Churros com Doce de Leite</li>
        </ul>
    </div>

    <div>
        <a
            href="https://www.facebook.com/cafeeickmann/">Facebook</a>
    </div>
</body>
</html>