<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <title>Café Eickmann</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    </head>
<body>

    <div class="page-header">
        <h1><a href="/">Café Eickmann</a></h1>

        <h3><a>Bolos e Cupcakes</a></h3>
    </div>

    <div class="post">
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
                {% for post in posts %}
                    <div class="post">
                        <div class="date">
                            {{ post.published_date }}
                        </div>
                        <h4><a href="">{{ post.title }}</a></h4>
                        <p>{{ post.text|linebreaksbr }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
   </div>

    <div>
        <h3 id="titulo-de-lista">Sabores</h3>
        <ul>
            <li>Baunilha com Lemon Curd</li>
            <li>Red Velvet com Chantininho</li>
            <li>Cenoura com Ganache de Chocolate</li>
            <li>Churros com Doce de Leite</li>
        </ul>
    </div>

    <div>
        <a
            href="https://www.facebook.com/cafeeickmann/">Facebook</a>
    </div>
</body>
</html>