<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Café Eickmann</title>
</head>
<body>

    <div>
        <h1>Café Eickmann</h1>
    </div>

    <div>
        <h3>Bolos e Cupcakes</h3>
    </div>

    <div>
        {% for post in posts %}
    <div>
        <p>published: {{ post.published_date }}</p>
        <h1><a href="">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
        {% endfor %}
   </div>

    <div>
        <h3>Sabores</h3>
        <ul>
            <li>Baunilha com Lemon Curd</li>
            <li>Red Velvet com Chantininho</li>
            <li>Cenoura com Ganache de Chocolate</li>
            <li>Churros com Doce de Leite</li>
        </ul>
    </div>

    <div>
        <a
            href="https://www.facebook.com/cafeeickmann/">Facebook</a>
    </div>
</body>
</html>